<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <title>Shortly</title>
  </head>
  <body>
    <div class="container">
      <nav class="menu">
        <img src="/images/logo.svg" alt="">
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </nav>
      <div class="desktop-menu">
        <ul>
          <li><button class="login-btn">Login</button></li>
          <li><button class="signup-btn">Sign Up</button></li>
        </ul>
      </div>


      <div class="mobile-menu">
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Resources</a></li>
          <li><button class="login-btn">Login</button></li>
          <li><button class="signup-btn">Sign Up</button></li>
        </ul>
      </div>
      <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  
    <section class="main-body">
      <div class="text">
        <h1 class="main-text-header">More than just shorter links</h1>
        <p class="main-text">Build your brand's recognition and get detailed insight on how your links are performing.</p>
        <button class="getStarted">Get Started</button>
      </div>
      <div class="img-container">
        <img class="img-working" src="/images/illustration-working.svg" alt="">
      </div>
    </section>
    
    <section class="form-section">
      <img src="/images/bg-boost-desktop.svg" alt="">
      <form action="" class="form">
        <input type="text">
        <button class="shorten">Shorten it!</button>
      </form>
    </section>
 

    <script src="main.js"></script>
  </body>
</html>