:root {
    /* Primary Colors */
    --primary-cyan: hsl(180, 66%, 49%);
    --primary-dark-violet: hsl(257, 27%, 26%);
  
    /* Secondary Colors */
    --secondary-red: hsl(0, 87%, 67%);
  
    /* Neutral Colors */
    --neutral-gray: hsl(0, 0%, 75%);
    --neutral-grayish-violet: hsl(257, 7%, 63%);
    --neutral-very-dark-blue: hsl(255, 11%, 22%);
    --neutral-very-dark-violet: hsl(260, 8%, 14%);
  }
  
 html {
    font-size: 18px;
  }
  
 body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu img {
    height: 2rem;
    margin-right: 1.5rem;
  }

  .menu ul, .desktop-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .menu li {
    margin-right: 1rem;
  }

  .menu a {
    text-decoration: none;
    color: var(--neutral-gray);
  }

  .login-btn {
    background-color: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: var(--neutral-gray);
    font-size: 1rem;
  }

  .login-btn:hover, .menu a:hover {
    color: #34313D;
  }

  .signup-btn {
    padding: .5rem 1rem;
    background-color: var(--primary-cyan);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  .signup-btn:hover, .getStarted:hover, .shorten:hover {
    filter: brightness(1.1);
  }
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #34313D;
    margin: 4px 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  .active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }

.mobile-menu {
    color: white;
    display: none;
    position: absolute;
    top: 100%;
    right: 4rem;
    background-color: var(--primary-dark-violet);
    z-index: 1;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-body {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  margin: 4rem 4rem 0 4rem;
}

.img-container {
  min-width: 20rem;
  max-width: 36rem;
}

.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
  max-width: 26rem;
  line-height: 1.2;
  margin-right: 1rem;
}

.main-text-header {
  color: #34313D;
  font-size: 3rem;
  margin-bottom: 0;
}

.main-text {
  color: var(--neutral-gray);
  font-size: 1rem;
  max-width: 25rem;
  line-height: 1.5;
}

.getStarted {
  padding: .7rem 1.4rem;
  background-color: var(--primary-cyan);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 1.4rem;
  cursor: pointer;
}

.img-working {
  width: 100%;
  height: auto;
}

.form-section {
  max-width: 80rem;
  margin: 2rem 4rem;
  position: relative;
}

.form-section img {
  width: 100%;
  max-height: 8.3rem;
  background-color: var(--primary-dark-violet);
  border-radius: 1rem;
}

.form {
  display: flex;
  position: absolute;
  top: 28%;
  left: 5%;
  width: 90%;
  max-width: 64rem;
}

.form input {
  width: 75%;
  margin-right: 2rem;
  border-radius: 1rem;
  height: 3.5rem;
}

.form button{
  width: 25%;
  background-color: var(--primary-cyan);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.body-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem;
}

.body-header-main {
  color: #34313D;
  font-size: 2rem;
  font-weight: 700;
  margin: 4rem 0 0 0;
}

.body-header-text {
  color: var(--neutral-gray);
  font-size: 1rem;
  text-align: center;
}

.body-info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin: 2rem 4rem;
}

.body-info-section .body-info-card:nth-child(n + 2) {
  margin-top: 5rem;
}

.body-info-section .body-info-card:nth-child(n + 3) {
  margin-top: 10rem;
}

.body-info-card {
  position: relative;
  max-width: 22rem;
  min-height: 18rem;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  border-radius: .6rem;
  background: #ffffff;
  box-shadow:  8px 8px 13px #8a8a8a,
             -8px -8px 13px #ffffff;
}

.body-info-card img {
  height: 2rem;
  position: absolute;
  top: -30px;
  left: 20px;
  background: var(--primary-dark-violet);
  padding: 1rem 1rem;
  border-radius: 2rem;
}

.body-card-text {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 1rem 2rem 0 2rem;
}

.body-card-text h4 {
  font-size: 1.5rem;
  color: #34313D;
  margin-bottom: 0;
}

.body-card-text p {
  font-size: .9rem;
  color: var(--neutral-gray);
}
  /* Media query */
  @media screen and (max-width: 1080px) {
    .main-text-header {
      font-size: 2rem;
      max-width: 22rem;
    }
    
    .main-text {
      font-size: .8rem;
      max-width: 20rem;
    }

    .getStarted {
      padding: .5rem .8rem;
    }

    .form {
      top: 22%
    }

    .form-section img {
      max-height: 6rem;
    }

    .form input {
      height: 2.8rem;
    }

    .body-header-main {
      font-size: 1.5rem;
      margin: 2rem 0 0 0;
    }
    
    .body-header-text {
      font-size: .8rem;
    }
  }
 
  @media screen and (max-width: 768px) {
    .container {
      padding: 2rem 2rem;
    }

    .menu ul li,
    .desktop-menu ul li {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    .mobile-menu {
      display: none;
      transform: translateY(-10px);
    }
  
    .mobile-menu ul {
        padding-left: 0;
        margin: 0 1rem;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .7rem;
        font-size: 1.2rem;
    }

    .login-btn {
        color: white;
        font-size: 1.2rem;
      }

    .signup-btn {
        padding: .5rem 2.5rem;
        margin-left: 0;
        font-size: 1rem;
      }

    .mobile-menu.active {
      display: block;
    }
/* Main body changes */
    .main-body {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin: 2rem 2rem 0 2rem;
    }
    
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0;
      text-align: center;
      min-width: none;
    }
    
    .main-text-header {
      font-size: 2.5rem;
    }
    
    .main-text {
      font-size: .9rem;
      min-width: 17rem;
    }
 
    .img-working {
      width: 100%;
      height: auto;
      max-width: 30rem;
    }

    .getStarted {
      padding: 1rem 2rem;
      border-radius: 2rem;
    }

    .form {
      top: 23%
    }

    .form input {
      height: 2.5rem;
    }

    .form button{
      width: 25%;
      font-size: .9rem;
    }
  }

  @media screen and (max-width: 675px) {
    .main-text-header {
      font-size: 2.2rem;
    }
    
    .main-text {
      font-size: .8rem;
      min-width: 17rem;
      margin: 1rem 0;
    }

    .getStarted {
      padding: .8rem 1.5rem;
      border-radius: 2rem;
    }
 
    .img-working {
      width: 100%;
      height: auto;
      max-width: 26rem;
    }

    .form-section {
      margin: 2rem 3rem;
    }
    
    .form-section img {
      min-height: 8rem;
    }
    
    .form {
      display: flex;
      flex-direction: column;
      top: 16%
    }

    .form input {
      height: 2.5rem;
      width: 100%;
      padding: 0;
      border-radius: .5rem;
      border: none;
      margin-bottom: .5rem;
    }

    .form button{
      width: 100%;
      font-size: 1rem;
      border-radius: .5rem;
      height: 2.5rem;
    }

    .body-header-main {
      font-size: 1.6rem;
      margin: 2rem 0 0 0;
    }
    
    .body-header-text {
      color: var(--neutral-gray);
      font-size: .8rem;
      text-align: center;
      word-wrap: break-word;
    }
  }

  @media screen and (max-width: 480px) {
    .container {
      padding: 2rem 1.5rem;
    }

    .main-text-header {
      font-size: 2rem;
    }
    
    .main-text {
      font-size: .8rem;
      max-width: 10rem;
    }

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-working {
      width: 80vw;
      height: auto;
    }

    .getStarted {
      padding: .8rem 1.6rem;
      border-radius: 2rem;
    }

    .form-section {
      margin: 2rem 2rem;
    }

    .body-header-main {
      font-size: 1.5rem;
      margin: 1rem .5rem 0 .5rem;
    }
    
    .body-header-text {
      color: var(--neutral-gray);
      font-size: .8rem;
      padding: 0 1.7rem;
    }
  }
